################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ShapeSquareSolution/.vs
/ShapeSquareSolution/ShapeSquare/.vs
/ShapeSquareSolution/ShapeSquare.Tests/.vs
